<template>
    <div id="main">
        <div id="card">
            <v-form id="form">
                <v-text-field class="field" v-model="name" :counter="10" label="Amount"></v-text-field>

                <v-text-field class="field" v-model="email" label="Description"></v-text-field>

                <v-select :items="sheets" label="Sheets"></v-select>

                <v-btn id="button" color="blue-grey" class="ma-2 white--text" @click="loader = 'loading3'">
                    Upload
                    <v-icon right dark>
                        mdi-cloud-upload
                    </v-icon>
                </v-btn>
            </v-form>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import { mapGetters } from 'vuex';

    export default {
        data: () => ({
            ezdata: 'ezdata',
            name: '',
            email: '',
            items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
        }),
        computed: {
            ...mapGetters({
                sheets: ['getSheets'],
            }),
        },
        mounted() {
            this.getSheets();
        },

        methods: {
            getSheets() {
                this.$store.dispatch('fetchSheets');
            },
            createObject() {
                let formData = new FormData();

                formData.append('name', this.name);
                formData.append('email', this.email);
                // formData.append('selected', this.selectedsheet);
                this.data = formData;
                console.log('ormdata', formData);
            },

            sendData() {
                this.createObject();
                axios
                    .post('http://mha.fun/api', this.formData)
                    .then((response) => {
                        console.log(response);
                    })
                    .catch((error) => {
                        console.log(error);
                        console.log('sikertelen bejelenkezes');
                        if (!this.response.data.token) {
                            this.disabled = true;
                        }
                    });
            },
        },
    };
</script>

<style scoped>
    #form {
        width: 500px;
        height: 450px;
        margin-top: 15%;
        margin-left: 8%;
        position: relative;
    }
    #button {
        margin-top: 35%;
        margin-left: 30%;
        width: 200px;
        color: cyan;
        background-color: rgb(0, 0, 0);
    }
    #main {
        /* max-width: 100%; */
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../assets/csulokbg.jpg.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    #card {
        position: absolute;
        margin-top: 10%;
        margin-left: 33%;
        width: 600px;
        background-color: rgba(240, 255, 255, 0.384);
        border-radius: 15px;
    }
    .field {
        color: azure;
    }
</style>
