<template>
    <div id="screen">
        <v-btn id="button" @click="login()">
            Sign in
        </v-btn>
    </div>
</template>

<script>
    export default {
        methods: {
            async login() {
                // this.$router.push({ path: '/formpage' });
                await sessionStorage.setItem('isLoggedIn', true);
                this.$store.dispatch('fetchUser', { email: 'gyuri@test.com', password: 'Password' });
            },
        },
        watch: {
            loader() {
                const l = this.loader;
                this[l] = !this[l];

                setTimeout(() => (this[l] = false), 3000);

                this.loader = null;
            },
        },
    };
</script>

<style>
    .custom-loader {
        animation: loader 1s infinite;
        display: flex;
    }
    @-moz-keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
    @-webkit-keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
    @-o-keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
    @keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }

    #button {
        margin-left: 45%;
        margin-top: 25%;
    }
    #screen {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../assets/csulokbg.jpg.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
</style>
