<template>
    <div id="screen">
        <!-- <v-col id="select"> -->
        <!-- <v-select :items="items" filled label="Sheets"></v-select> -->
        <select @change="console()" id="sel" v-model="selected">
            select
            <option v-for="item in this.sheets" :value="item" :key="item.name">
                {{ item.name }}
            </option>
        </select>
        <!-- </v-col> -->
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    export default {
        data() {
            return {
                selected: null,
            };
        },

        computed: {
            sheets() {
                return this.$store.getters.getSheets;
            },
            ...mapGetters({
                sheets: ['getSheets'],
            }),
        },
        mounted() {
            console.log('sheets', this.sheets);
            this.$store.dispatch('fetchSheets');
        },
        methods: {
            console() {
                console.log(this.sheets, 'sheets');
            },
        },
    };
</script>

<style>
    #screen {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../assets/csulokbg.jpg.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    #select {
        width: 500px;
        margin-top: 15%;
        margin-inline-start: 35%;
    }
    #sel {
        background-color: rgb(248, 246, 246);
        width: 500px;
        margin-top: 15%;
        margin-left: 33%;
    }
</style>
