<template id="appp">
    <v-app id="app">
        <router-view />
    </v-app>
</template>
<script>
    export default {};
</script>

<style>
    #appp {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        background-image: url('./assets/csulokbg.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
</style>
